* {
  box-sizing: border-box;
}

#root {
  position: relative;
}

.header {
  width: 30%;
  margin: 2em auto 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.active,
.next {
  cursor: pointer;
  font-size: 1.2em;
}
span.deactive {
  pointer-events: none;
  font-size: 1.2em;
  color: lightgray;
}

.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  width: 30%;
  position: relative;
  margin: 2em auto;
}

.month > * {
  border: 1px solid #e97864;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.before {
  background-color: #ccc;
}

.today {
  color: green;
}

.selected {
  background-color: #e97864;
  color: #fff;
  border: 1px dotted #fff;
  transition: background-color 0.3s;
}
