* {
  box-sizing: border-box;
}

#root {
  position: relative;
}

.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  width: 30%;
  position: relative;
  margin: 2em auto;
}

.day {
  border: 1px solid #e97864;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
